{% extends 'base.html' %}

{% comment %} {% block title%}AboutUs{% endblock %} {% endcomment %}
{%block body%}


<h2 align="center"> Bringing good food into your everyday. That's our mission.

That means we don't just deliver--we bring it, always going the extra mile to make your experience memorable.

And it means this is delicious food you can enjoy everyday: from vibrant salads for healthy office lunches, to indulgent family-sized pizzas, to fresh sushi for a romantic night in. Whatever you crave, we can help.</h2>

{%endblock%}