<!doctype html>
{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div id="demo" class="carousel slide my-3" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1" ></li>
                <li data-target="#demo" data-slide-to="2" ></li>
            </ul>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    {% for item in page_obj %}
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="rounded" style="width: 18rem;">
                                <img src="{{item.image.url}}" class="card-img-top" >
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.name }}</h5>
                                    <a href="{% url 'cart_add' item.id c_id  %}" class="btn btn-primary ">Add To Cart</a>
                                    {% comment %} <a href=""class="btn btn-primary cart">Place Order!</a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% for item in page_obj %}
    
    {{ item.cuisine_list|upper }}
       {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}